{erl_opts, [debug_info]}.
{deps, []}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [otp_juggler]}
]}.

{relx, [{release, {otp_juggler, "1.0"},
    [ otp_juggler ]},

    {dev_mode, true},
    {include_erts, true},
    {system_libs, false},

    {overlay_vars, ["./templates/vars.config"]},
    {overlay, [
        {template, "./templates/sys.config", "releases/{{default_release_version}}/sys.config"},
        {template, "./templates/vm.args", "releases/{{default_release_version}}/vm.args"}
    ]},
    {extended_start_script, true}]
}.

{profiles, [
    {test, [
        {deps, [{meck, ".*",
            {git, "https://github.com/eproxus/meck.git", {branch, "master"}}}
        ]},
        {relx, [{overlay_vars, ["./templates/vars.config", "./templates/vars_test.config"]}]}
    ]},
    {prod, [{relx, [{dev_mode, false}, {include_erts, true}, {include_src, false},
        {overlay_vars, ["./templates/vars.config", "./templates/vars_prod.config"]}]}]},
    {local,[{relx, [{overlay_vars, ["./templates/vars.config", "./templates/vars_local.config"]}]}]}
]}.

